@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .header-wrapper {
    @apply absolute z-10 w-full py-3
  }

  .max-container {
    @apply max-w-7xl w-full mx-auto m-0
  }
  
  .nav-wrapper {
    @apply flex justify-between items-center max-container px-2 xl:px-2
  }

  .hero-wrapper {
    @apply max-w-7xl mx-auto min-h-screen px-2 flex
  }

  .hero-text {
    @apply text-indigo-300 font-semibold text-lg
  }
  
  .hero-title {
    @apply
  }

  .hero-subtext {
    @apply mt-7 text-lg text-gray-600
  }

  .title-subtext {
    @apply text-indigo-300 font-bold inline-block mt-5
  }

  .info-text {
    @apply text-gray-600 leading-normal text-lg
  }

  /* variant */
  .btn-indigo {
    @apply bg-indigo-500 rounded-full
  }

}