@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .header-wrapper {
    @apply w-full bg-white
  }
  
  .nav-wrapper {
    @apply max-w-7xl mx-auto flex justify-between items-center px-2 py-3
  }

  .hero-wrapper {
    @apply max-w-7xl mx-auto min-h-screen px-2 py-16 flex
  }

  .hero-text {
    @apply text-indigo-300 font-semibold text-lg
  }
  
  .hero-title {
    @apply
  }

  .hero-subtext {
    @apply mt-7 text-lg text-gray-600
  }

  .title-subtext {
    @apply text-indigo-300 font-bold inline-block mt-5
  }


  .btn-indigo {
    @apply bg-indigo-300 rounded-full mt-10
  }

}